* {
    font-family: sans-serif;
}

body {
    margin-top: 100px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

h1 {
    padding-bottom: 20px;
}

h3 {
    margin-top: 30px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    width: 100%;
    background-color: #075ad3;
    text-align: center;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    transition: .3s ease-in-out;
}

button:hover {
    background-color: #004296;
    opacity: .9;
}

button:active {
    transition: .05s ease-in-out;
    background-color: #2a76e8;
}

.product {
    background: #f3f3f3;
    border-radius: 10px;
    padding: 10px;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}